# Load dataset for testing "using read_csv()"

# Capstone Project

In [2]:
import os
import pandas as pd

In [5]:
mainpath = r"C:\Users\super\Desktop\CapStoneProject\PCAPs"
filename = "Example.csv"
fullpath = os.path.join(mainpath, filename)

In [6]:
data = pd.read_csv(fullpath)

In [8]:
data.head()

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,8.254.250.126,192.168.10.5,TCP,60,"80 > 49188 [FIN, ACK] Seq=1 Ack=1 Win=329 Len=0"
1,2,0.000004,8.254.250.126,192.168.10.5,TCP,60,"[TCP Out-Of-Order] 80 > 49188 [FIN, ACK] Seq..."
2,3,0.000005,8.254.250.126,192.168.10.5,TCP,60,"[TCP Out-Of-Order] 80 > 49188 [FIN, ACK] Seq..."
3,4,0.000006,8.254.250.126,192.168.10.5,TCP,60,"[TCP Out-Of-Order] 80 > 49188 [FIN, ACK] Seq..."
4,5,0.000007,8.254.250.126,192.168.10.5,TCP,60,"[TCP Out-Of-Order] 80 > 49188 [FIN, ACK] Seq..."

In [9]:
data.tail(5)

,No.,Time,Source,Destination,Protocol,Length,Info
11709966,11709967,29135.820181,192.168.10.19,23.61.187.27,TCP,66,48301 > 80 [ACK] Seq=1297 Ack=5888 Win=42880...
11709967,11709968,29135.821977,192.168.10.19,71.74.176.101,TLSv1.2,382,Application Data
11709968,11709969,29135.863701,71.74.176.101,192.168.10.19,TLSv1.2,620,Application Data
11709969,11709970,29135.865284,192.168.10.19,71.74.176.101,TLSv1.2,427,Application Data
11709970,11709971,29135.874581,192.168.10.14,52.84.143.13,TCP,60,[TCP Keep-Alive] 60013 > 443 [ACK] Seq=1068 ...

In [10]:
data.shape

(11709971, 7)

In [11]:
data.columns.values

array(['No.', 'Time', 'Source', 'Destination', 'Protocol', 'Length',
       'Info'], dtype=object)

# Summary of basic stats

In [4]:
os.getcwd()

'C:\\Users\\super'

In [12]:
data.dtypes

No.              int64
Time           float64
Source          object
Destination     object
Protocol        object
Length           int64
Info            object
dtype: object

In [13]:
data.describe()

                No.          Time        Length
count  1.170997e+07  1.170997e+07  1.170997e+07
mean   5.854986e+06  8.713698e+03  8.909583e+02
std    3.380378e+06  8.723033e+03  1.160192e+03
min    1.000000e+00  0.000000e+00  6.000000e+01
25%    2.927494e+06  2.274382e+03  6.000000e+01
50%    5.854986e+06  3.247353e+03  9.700000e+01
75%    8.782478e+06  1.478169e+04  1.514000e+03
max    1.170997e+07  2.913587e+04  2.341400e+04